html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.navbar {
    width: 100%;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 100;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
/*
.bgimg {
    background-image: url(/images/bg.jpg);
    background-size: cover;
    overflow-y: hidden;
}

.parallax {
    height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-perspective: 300px;
    perspective: 300px;
}
.parallax__group {
    position: relative;
    height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.parallax__layer--fore {
	-webkit-transform: translateZ(90px) scale(.7);
    transform: translateZ(90px) scale(.7);
}
.parallax__layer--base {
	-webkit-transform: translateZ(0);
    transform: translateZ(0);
}
.parallax__layer--back {
	-webkit-transform: translateZ(-300px) scale(2);
    transform: translateZ(-300px) scale(2);
}
.parallax__layer--deep {
	-webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-600px) scale(3);
}
.parallax__group {
	-webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}*/
